/* Variables de couleurs */

:root{
    --darkModeBody: grey;
    --darkModeNav: rgb(34, 34, 34);
    --darkModeText: white;
}

.lightTheme {
    --darkModeBody: white;
    --darkModeNav: rgb(49, 49, 49);
    --darkModeText: black;
}

/* CSS */

@media all and (orientation:portrait) {
    html {
        background-color: var(--darkModeNav);
    }
    
    .container {
        background-color: var(--darkModeBody);
        color: var(--darkModeNav);
        margin-left: 15vw;
        margin-bottom: 10vh;
        width: 50vw;
        /* border */
        border: solid;
        border: thick double var(--darkModeText);
        /* flexbox */
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        align-content: center;
    }

    #userDisplay {
      visibility: hidden;  
    }
}

@media all and (orientation:landscape) {
    html {
        background-color: var(--darkModeBody);
    }
    
    .container {
        background-color: var(--darkModeNav);
        color: var(--darkModeNav);
        margin-left: 15vw;
        margin-bottom: 10vh;
        width: 50vw;
        /* border */
        border: solid;
        border: thick double var(--darkModeText);
        /* flexbox */
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        align-content: center;
    }
}

