/* Variables de couleurs */

:root{
    --darkModeBody: grey;
    --darkModeNav: rgb(34, 34, 34);
    --darkModeText: white;
}

.lightTheme {
    --darkModeBody: white;
    --darkModeNav: rgb(49, 49, 49);
    --darkModeText: black;
}

/* CSS */

@media all and (orientation:portrait) {
    body {
        background-color: var(--darkModeNav);
        /* flexbox */
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: center;
        align-items: center;
        align-content: space-evenly;
    }
    
    .container {
        background-color: var(--darkModeBody);
        color: var(--darkModeNav);
        margin-bottom: 10vh;
        width: 50vw;
        /* border */
        border: solid;
        border: thick double var(--darkModeText);
        /* flexbox */
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        align-content: center;
    }

    #userDisplay {
        visibility: hidden;  
    }

    .avatar {
        width:60%;
        height: 60%;
        max-width: 60%;
        max-height: 60%;
    }

    .repos li, .repos h1 {
        text-align: center;
        text-decoration: none;
        height: 80%;
        overflow: auto;
    }
}

@media all and (orientation:landscape) {
    body {
        background-color: var(--darkModeNav);
        /* flexbox */
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: center;
        align-items: center;
        align-content: space-evenly;
    }
    
    .container {
        background-color: var(--darkModeBody);
        color: var(--darkModeNav);
        margin-bottom: 10vh;
        width: 50vw;
        /* border */
        border: solid;
        border: thick double var(--darkModeText);
        /* flexbox */
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        align-content: center;
    }

    #userDisplay {
        visibility: hidden;  
      }

    .avatar {
        width:60%;
        height: 60%;
        max-width: 60%;
        max-height: 60%;
    }

    .repos li, .repos h1 {
        text-align: center;
        text-decoration: none;
        height: 80%;
        overflow: auto;
    }
}

